@{
    ViewData["Title"] = "GRate - Список игр";
}
@model  GRate.ViewModel.ReviewModel;
<br /><br /><br />
            <body>
                <h1 style="color:#fff">Игротека</h1><br />
                @if (ViewBag.message != null)
                {
                    <p style="font-weight: bold; color:#43f03c">ВСЕ COCK</p>
                }
                @if (ViewBag.errmessage != null)
                {
                    <p style="font-weight: bold; color:#f61a1a">Ты уже писал обузор на это</p>
                }
                @if (ViewBag.aumessage != null)
                {
                    <p style="font-weight: bold; color:#f61a1a">Отзывы могут писать только авторизованные пользователи :с</p>
                }
                <form method="get" asp-controller="Game" asp-action="List">
                    <select class="Logtext" name="genreId" style="height:30px;">
                        <option value="0">Все жанры</option>
                        @foreach (var gen in ViewBag.Genres)
                        {
                            <option value="@gen.Id">@gen.Name</option>
                        }
                    </select>
                    <button class="logbuttons" type="submit" style="padding:4px 6px 4px 6px; margin:2px; width:100px; height:30px">Поиск</button>
                </form>
                <div class="MenuCenter">
                    <table style="width:100%">
                        <tr class="tablestyle">
                            <th style="width:20%">Название игры</th>
                            <th style="width:20%">Разработчик</th>
                            <th style="width:20%">Жанр</th>
                            <th style="width:20%">Дата выхода</th>
                            <th style="width:20%">Описание</th>
                        </tr>
                        @foreach (GRate.Models.Game g in ViewBag.Game)
                        {
                            <tr class="tdstyle" onclick="on('@g.GameName', '@g.Id')">
                                <td style="width:20%">@g.GameName</td>
                                <td style="width:20%">@g.CompanyName</td>
                                <td style="width:20%">@g.Genre.Name</td>
                                <td style="width:20%">@g.GameReleaseTime.ToShortDateString()</td>
                                <td style="width:20%">@g.GameDiscription</td>
                            </tr>
                        }
                    </table>
                </div>
                <div id="overlay" style="display:none" onclick="off()"></div>
                <form asp-action="List" asp-controller="Game" method="post" asp-anti-forgery="true">
                    <div id="log" class="logzone glassmorph" style="display:none">
                        <br />
                        <h5 id="text" style="color:#fff; cursor:default;user-select: none;"></h5>
                        <br />
                        <a class="star"></a><a class="star"></a><a class="star"></a><a class="star"></a><a class="star"></a>
                        @Html.Hidden("gId", 0, new { id = "gId", name = "gId" })
                        <input class="Logtext" asp-for="Rate" required /><br />
                        <h6 style="color:#fff">Опишите данный продукт</h6>
                        <input class="Logtext" asp-for="Description" style="height:100px" required />
                        <br /><br />
                        <button class="logbuttons" type="submit">пог</button>
                    </div>
                </form>
            </body>

<script>
    function on(gName, gId) {
        document.getElementById("overlay").style.display = "block";
        document.getElementById("log").style.display = "block";
        var text = document.getElementById("text");
        text.textContent = gName;
        document.getElementById("gId").value = gId;
        console.log(document.getElementById("gId").value);
    }

    function off() {
        document.getElementById("overlay").style.display = "none";
        document.getElementById("log").style.display = "none";
    }
</script>